header {
    position: relative;
    @include clearfix;
    width: 100%;
    background: #e6e6e6;
    padding: 10px 0;

    #logo {

        a {
            display: table;
            color: #000;
            font-weight: 700;
            text-decoration: none;
            font-size: 28px;
            line-height: 30px;

            img, span {
                display: table-cell;
                vertical-align: middle;
            }

            span {
                padding-left: 15px;
            }
        }
    }
}

@media(min-width: 768px) {
    header {
        height: 115px;
        padding: 0;

        .container {
            height: 115px;
        }

        #logo {
            display: table;
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

@media(min-width: 960px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

        #logo {
            left: 0;
        }
    }
}