@mixin calculate($width, $height, $x, $y) {
    width: $width/2;
    height: $height/2;
    background-position: (-$x/2) (-$y/2);
}

.sprite {
    
    @include retina-image($imgPath + sprite, 73px 198px, 'png', null, '@2x', false);
    
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    text-indent: -9999px;

    &--ico-question {
        @include calculate(47px, 47px, 0px, 0px);
    }
    &--ico-monkey {
        @include calculate(62px, 49px, 0px, 47px);
    }
    &--ico-hand {
        @include calculate(36px, 51px, 0px, 96px);
    }
    &--ico-man {
        @include calculate(41px, 53px, 0px, 147px);
    }
    &--logo {
        @include calculate(146px, 196px, 0px, 200px);
    }
}
