@mixin calculate($width, $height, $x, $y) {
    width: $width/2;
    height: $height/2;
    background-position: (-$x/2) (-$y/2);
}

.sprite {
    
    @include retina-image($imgPath + sprite, 73px 98px, 'png', null, '@2x', false);
    
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    text-indent: -9999px;

    &--logo {
        @include calculate(146px, 196px, 0px, 0px);
    }
}
